-# Form
= simple_form_for @applicant do |f|
  = f.input :first_name, wrapper_html: { class: 'first-name' }
  = f.input :last_name, wrapper_html: { class: 'last-name' }
  = f.input :email, wrapper_html: { class: 'email-address' }
  = f.input :phone, wrapper_html: { class: 'phone-number' }
  = f.select :phone_type, options_for_select(Applicant::PHONE_TYPES), {}, {class: "form-control phone-type"}
  = f.select :region, options_for_select(Applicant::REGIONS), {}, {class: "form-control region"}

  = f.button :submit, value: "Submit", class: "btn btn-primary btn-lg btn-block"
